<div>
  <img class="circle" alt="circle" src="circle2.png"/>
</div>

<div>
  <h1>CIRCLES OF SOUND</h1>
</div>

<div>
  <p>RECORD SHORT AUDIO CLIPS I.E. "SOUNDS"</p>
  <p>RECORDED SOUNDS BECOME SEGMENTS IN A TECHNICOLOR CIRCLE</p>
  <p>ANYONE CAN LISTEN AND ADD NEW SOUNDS TO A CIRCLE</p>
  <p>SHARE SOUNDS WITH EASE</p>
  <p>A FUN WAY TO CAPTURE THOUGHTS, QUESTIONS, OR EVEN JUST THINGS YOU HEAR IN THE WORLD</p>
</div>

<div>
  <h2>
    <a href="https://appsto.re/us/WuNglb.i">TO THE APP STORE</a>
  </h2>
</div>

<div>
  <img style="vertical-align:middle" alt="balloons" height="50" width="50" src="balloon.gif"/>
  <span>© 2017 Zachary Schroeder</span>
  <a href="http://www.circlesofsoundapp.wordpress.com">Blog</a>
  <img style="vertical-align:middle" alt="balloons" height="50" width="50" src="balloon.gif"/>
</div>
