<div>
  <img class="circle" alt="circle" src="circle2.png"/>
</div>

<div>
  <h1>CIRCLES OF SOUND</h1>
</div>

<div>
  <p>A FUN WAY TO RECORD THOUGHTS, QUESTIONS OR THINGS YOU HEAR IN THE WORLD</p>
  <p>RECORDED SOUNDS BECOME SEGMENTS IN A TECHNICOLOR CIRCLE</p>
  <p>ANYONE CAN ADD NEW SOUNDS TO A CIRCLE</p>
  <p>SHARE SOUNDS OR WHOLE CIRCLES OF SOUND WITH EASE</p>
</div>

<div>
  <img style="vertical-align:middle" alt="balloons" height="50" width="50" src="balloon.gif"/>
  <span>© 2017 Zachary Schroeder</span>
  <a href="http://www.circlesofsoundapp.wordpress.com">Blog</a>
  <img style="vertical-align:middle" alt="balloons" height="50" width="50" src="balloon.gif"/>
</div>
